@import "bourbon";
@import "neat";
@import "base/_grid-settings";
@import "base/base";

@import "modules/cards/cards";
@import "modules/sidebar";
@import "modules/labelswitch";

body {
  margin: 0;
  height: 100vh;
  width: 100500px;
  overflow-y: hidden;
}

.cards {
  height: 100vh;
  float: left;
  width: 100000px;
  margin-left: 440px;
  overflow-y: hidden;
  overflow-x: scroll;
}

::-webkit-scrollbar { 
  display: none; 
}
