<section class="card ng-class:card.type">

  <section class="heading">
    <hgroup class="title">
    <h1>{{card.model.title}}</h1>
    </hgroup>
    <img src="" class="constellation">
  </section>

  <section class="content">
    <section class="stats">
      <h1>Stats</h1>
      <ul>
        <li>
        <h4>{{card.model.waypoints.length}}</h4>
        <span>Waypoints</span>
        </li>
        <li>
        <h4>1,119</h4>
        <span>Followers</span>
        </li>
        <li>
        <h4>30000</h4>
        <span>Likes</span>
        </li>
      </ul>
    </section>
  </section>

  <section class="controls">
    <div ng-show="card.user && card.user !== card.model.curator" 
      ng-click="card.learn()" class="button">Learn</div>
    <div ng-click="card.browse()" class="button">Browse</div>
    <div ng-show="card.mode === 'curate'" ng-click="" class="button">Delete</div>
  </section>

</section>
