.card {
  display: 		inline-block;
  vertical-align: top;
  white-space: 	normal;
  background: 	$secondary-color;
  color:			$primary-color;
  width: 			400px;
  height: 		auto;
  margin:			20px;
  text-align: 	center;

  .constellation {
    width:	100%;
    height: 200px;
    background: $primary-color;
  }

  .information {
    margin:			23px;	
  }

  .title {
    text-align: left;
    min-width: 60%;
    max-width: 100%;	
    font-size: 1em;
    background-color: $primary-color;
    color: $secondary-color;
    padding-left: $pad;

    h2 {
      font-family: $heading-font;	
      padding-bottom:	4px;

      .fa-sort-desc {
        float:			right;
        padding:		10px;
        font-size:		0.6em;
      }
    }	

    &:hover {
      background-color: $unacademicRed;
      
      h2 {
        background-color: $unacademicRed;
      }
    }
  }

  .content {
    text-align:			left;
    line-height:		130%;

    h3{
      font-family:	$heading-font;
      color:			$secondary-color;
      background:		$primary-color;
      display:		table;
      padding-left:	$pad;
      padding-right:	$pad;
      margin-bottom:	$pad;
      margin-top:		$pad;
    }

    p {
      line-height:	80%;
    }

    .description {
      margin-top:		$pad;
      font-family:	$rest-font;	
    }	
  }

  .short {
    @extend .content;

    p {
      line-height: 	130%;
    }
  }

  .metrics {
    color: #72C7B3;

    li {	
      background: black;
      text-align: left;
      font-size: 20px;
      display: table;
      margin-top:	$pad;
      margin-bottom: $pad;
      padding-left:	$pad;
      padding-right: $pad;
    }
  }

  .modes {
    padding:	0 23px 23px 23px;

    button {
      font-family: 	NB;
      display:		block;
      padding: 		0;
      color: 			white;
      background-color: $unacademicRed;
      width: 			100%; 
      height: 		2em;
      margin-top:		6px;
      transition: 	all 0.1s ease 0s;

      &:hover {
        background-color: $primary-color;
        color: $secondary-color;
      }
    }
  }	
}
