<form name="curatePanel.form" novalidate>
  <label for="title">Title</label>
  <input type="text" name="title" 
         ng-model="curatePanel.model.title" 
         minlength="3" required/>

  <label for="summary">Summary</label>
  <input type="text" name="summary" ng-model="curatePanel.model.summary" required />

  <label for="description">Description</label>
  <textarea type="text" name="description" 
            ng-model="curatePanel.model.description" required>
  </textarea>

  <label for="keywords">Keywords</label>
  <textarea type="text" name="keywords" 
            ng-model="curatePanel.model.keywords">
  </textarea>

  <button ng-click="curatePanel.submit()">Submit</button>
</form>
