<section class="card ng-class:card.model.type">
  <div class="heading">

    <div class="bio">
      <h1>{{card.model.title}}</h1>
      <img src="http://www.innovata-llc.com/fullpanel/uploads/files/global-data.jpg" alt="background" class="bg">
      <div class="desc">
        <h3>{{card.model.curator}}</h3>
        <p>{{card.model.description}}</p>
        <div class="tags">
          <p>{{card.model.keywords}}</p>
        </div>
      </div>
    </div>

    <div class="avatarcontainer">
      <div class="hover">
        <div class="icon-anchor"></div>
      </div>
    </div>
  </div>

  <p class="summary">{{card.model.summary}}</p>

  <div class="content">
    <div class="data">
      <ul>
        <li>
        <h4>{{card.model.waypoints.length}}</h4>
        <span>Waypoints</span>
        </li>
        <li>
        <h4>1,119</h4>
        <span>Followers</span>
        </li>
        <li>
        <h4>30000</h4>
        <span>Likes</span>
        </li>
      </ul>
    </div>

  <div ng-show="card.user && card.user !== card.model.curator" 
       ng-click="card.learn()" class="follow">Learn</div>

  <div ng-click="card.browse()" class="follow">Browse</div>

  <div ng-show="card.mode === 'curation'" ng-click="" class="follow">Delete</div>
</section>
