<aside class="sidebar">

  <section ng-if="sidebar.model">

    <browse-panel ng-if="sidebar.mode === 'browse'" 
                  class="metabox"
                  model="sidebar.model">
    </browse-panel>

    <learn-panel ng-if="sidebar.mode === 'learn'" 
                 class="metabox"
                 model="sidebar.model">
    </learn-panel>

    <curate-panel ng-if="sidebar.mode === 'curate'" 
                  class="metabox"
                  model="sidebar.model">
    </curate-panel>
  <section>

  <toolbox user="sidebar.user" mode="sidebar.mode"></toolbox>
</aside>
